* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 119px;
}

.contenedor {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

th,
h2,
h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

td,
a,
p,
li,
label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    text-align: left;
    padding-bottom: 20px;
    padding-top: 10px;
    font-weight: 700;
    color: #023047;
}

u {
    text-decoration-color: #fa8600;
}

#section-informeGanancias{
    height: auto;
    margin: 10px;
}

#table-container{
    width: 100%;
    height: auto;
    padding-top: 60px;
    text-align: center;
    padding-bottom: 60px;
}

table {
    margin: 0 auto;
    padding-top: 10px;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24), 0 4px 5px 0 rgba(0,0,0,0.19);
}

table {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
  }

tr, td{
    padding: 0px;
    height: 50px;
    padding-left: 25px;
    text-align: center;
    padding: 10px;

}

thead{
    background-color: #023047;
    border-bottom: 3px solid #fa8600;
    color: #fff;
    text-transform: uppercase;
}

#totalGenerado {
    border-top: 3px solid #fa8600;
    background-color: #023047;
    color: white;
    font-weight: 900;
}

/* preuba de grafico */
#graf {
    margin: 10px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.chart-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: auto; /* Habilita el scroll horizontal si es necesario */
    margin: 0 auto;
    padding-bottom: 20px;
}

.y-axis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 10px;
    height: 300px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.chart-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 300px;
    min-width: auto; /* Ajusta el contenedor al tamaño de las barras */
    background-color: #fff;
    border: 1px solid #fa8600;
    padding: 20px;
    overflow-x: auto; /* Habilita el scroll horizontal */
}

.bar {
    width: 100px;
    background-color: #023047;
    border-top: 2px solid #fa8600;
    text-align: center;
    margin-right: 10px;
    padding: 12px;
    color: whitesmoke;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.bar:hover {
    transform: scale(1.1);
    cursor: pointer;
}